# [Rr]eg[Ee]xp? Lab

# Challenge 1- Regular Expressions

Sometimes, we would like to perform more complex manipulations of our string. This is where regular expressions come in handy. In the cell below, return all characters that are upper case from the string specified below.

In [ ]:
import re

In [ ]:
poem = "The apparition of 456781 7392 these faces in the crowd"
pattern= r"[0-9]* "
re.findall(pattern,poem)

[' ', ' ', ' ', '456781 ', '7392 ', ' ', ' ', ' ', ' ']

In [ ]:
poem = "The apparition of 456781 7392these faces in the crowd"
pattern= "[0-9][0-9]* "
re.findall(pattern,poem)

['456781 ']

In [ ]:
import re

poem = """The apparition of these faces in the crowd;
Petals on a wet, black bough."""

# Your code here:
pattern = "[A-Z]"
re.findall(pattern,poem)

['T', 'P']

In the cell below, filter the list provided and return all elements of the list containing a number. To filter the list, use the `re.search` function. Check if the function does not return `None`. You can read more about the `re.search` function [here](https://docs.python.org/3/library/re.html).

In [ ]:
data = ['123abc', 'abc123', 'JohnSmith1', 'ABBY4', 'JANE']
result=[]
for i in data:
  if re.search("[\d]",i):
    result.append(i)
result

['123abc', 'abc123', 'JohnSmith1', 'ABBY4']

In [ ]:
# Your code here:
t = " ".join(data)
t

'123abc abc123 JohnSmith1 ABBY4 JANE'

In [ ]:
p = "[\d]*"
re.findall(p,t)

['123',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '123',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1',
 '',
 '',
 '',
 '',
 '',
 '4',
 '',
 '',
 '',
 '',
 '',
 '']

In [ ]:
re.search(p,t)

# Challenge 2 - Regular Expressions II

In the cell below, filter the list provided to keep only strings containing at least one digit and at least one lower case letter. As in the previous question, use the `re.search` function and check that the result is not `None`.

To read more about regular expressions, check out [this link](https://developers.google.com/edu/python/regular-expressions).

In [ ]:
data = ['123abc', 'abc123', 'JohnSmith1', 'ABBY4', 'JANE']
# Your code here:
t = " ".join(data)
t
# Your code here:
p = "\d+\w+"
re.search(p,t)

In [ ]:
data = ['123abc', 'abc123', 'JohnSmith1', 'ABBY4', 'JANE']
result=[]
for i in data:
  if re.search("\d+",i) and re.search("[a-z]",i):
    result.append(i)
result

['123abc', 'abc123', 'JohnSmith1']

# Challenge 3 -  Advanced Regular Expressions

Complete the following set of exercises to solidify your knowledge of regular expressions.

In [ ]:
import re

### 1. Use a regular expression to find and extract all vowels in the following text.

In [ ]:
text = "This is going to be a sentence with a good number of vowels in it."

In [ ]:
pattern = '[a,e,i,y,o,u]'
re.findall(pattern, text)

['i',
 'i',
 'o',
 'i',
 'o',
 'e',
 'a',
 'e',
 'e',
 'e',
 'i',
 'a',
 'o',
 'o',
 'u',
 'e',
 'o',
 'o',
 'e',
 'i',
 'i']

### 2. Use a regular expression to find and extract all occurrences and tenses (singular and plural) of the word "puppy" in the text below.

In [ ]:
text = "The puppy saw all the rest of the puppies playing and wanted to join them. I saw this and wanted a puppy of my own!"

In [ ]:
print(re.findall('puppy|puppies', text))

['puppy', 'puppies', 'puppy']

### 3. Use a regular expression to find and extract all tenses (present and past) of the word "run" in the text below.

In [ ]:
text = "I ran the relay race the only way I knew how to run it."

In [ ]:
print(re.findall('run|ran', text))

['ran', 'run']

### 4. Use a regular expression to find and extract all words that begin with the letter "r" from the previous text.

In [ ]:
print(re.findall(r"r[a-z]*", text))

['ran', 'relay', 'race', 'run']

### 5. Use a regular expression to find and substitute the letter "i" for the exclamation marks in the text below.

In [ ]:
text_1 = "Th!s !s a sentence w!th spec!al characters !n !t."

In [ ]:
print(text_1.replace("!","i"))

This is a sentence with special characters in it.

### 6. Use a regular expression to find and extract words longer than 4 characters in the text below.

In [ ]:
text = "This sentence has words of varying lengths."

In [ ]:
print(re.findall(r"[a-z]{5,}", text))

['sentence', 'words', 'varying', 'lengths']

### 7. Use a regular expression to find and extract all occurrences of the letter "b", some letter(s), and then the letter "t" in the sentence below.

In [ ]:
text = "I bet the robot couldn't beat the other bot with a bat, but instead it bit me."

In [ ]:
print(re.findall(r"b[a-z]*t", text))

['bet', 'bot', 'beat', 'bot', 'bat', 'but', 'bit']

### 8. Use a regular expression to find and extract all words that contain either "ea" or "eo" in them.

In [ ]:
text = "During many of the peaks and troughs of history, the people living it didn't fully realize what was unfolding. But we all know we're navigating breathtaking history: Nearly every day could be — maybe will be — a book."

In [ ]:
pattern = r"[a-z]*e[ao][a-z]*"
re.findall(pattern,text.lower())

['peaks', 'people', 'realize', 'breathtaking', 'nearly']

### 9. Use a regular expression to find and extract all the capitalized words in the text below individually.

In [ ]:
text = "Teddy Roosevelt and Abraham Lincoln walk into a bar."

In [ ]:
pattern = r"[A-Z][a-z]*"
for word in re.findall(pattern,text):
    print(word)

Teddy
Roosevelt
Abraham
Lincoln

### 10. Use a regular expression to find and extract all the sets of consecutive capitalized words in the text above.

In [ ]:
pattern = r"[A-Z][a-z]* [A-Z][a-z]*"
for set_words in re.findall(pattern,text):
    print(set_words)

### 11. Use a regular expression to find and extract all the quotes from the text below.

*Hint: This one is a little more complex than the single quote example in the lesson because there are multiple quotes in the text.*

In [ ]:
text = 'Roosevelt says to Lincoln, "I will bet you $50 I can get the bartender to give me a free drink." Lincoln says, "I am in!"'

In [ ]:
pattern = r'".+?"'

re.findall(pattern,text)

['"I will bet you $50 I can get the bartender to give me a free drink."',
 '"I am in!"']

### 12. Use a regular expression to find and extract all the numbers from the text below.

In [ ]:
text = "There were 30 students in the class. Of the 30 students, 14 were male and 16 were female. Only 10 students got A's on the exam."

In [ ]:
pattern = r'[0-9]+'
re.findall(pattern,text)

['30', '30', '14', '16', '10']

### 13. Use a regular expression to find and extract all the social security numbers from the text below.

In [ ]:
text = """
Henry's social security number is 876-93-2289 and his phone number is (847)789-0984.
Darlene's social security number is 098-32-5295 and her phone number is (987)222-0901.
"""

In [ ]:
pattern = r"\d{3}-\d{2}-\d{4}"
re.findall(pattern,text)

['876-93-2289', '098-32-5295']

### 14. Use a regular expression to find and extract all the phone numbers from the text below.

In [ ]:
pattern = r".\d{3}.\d{3}.\d{4}"
re.findall(pattern,text)

['(847)789-0984', '(987)222-0901']

### 15. Use a regular expression to find and extract all the formatted numbers (both social security and phone) from the text below.

In [ ]:
pattern = r".\d+.\d+.\d+"
re.findall(pattern,text)

[' 876-93-2289', '(847)789-0984', ' 098-32-5295', '(987)222-0901']